body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #fdfdfd;
}

h2,
h3 {
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 6px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-remove {
  background-color: red;
}

.btn-remove:hover {
  background-color: darkred;
}

button:hover {
  background-color: #45a049;
}